#container {
    width: 1280px;
    height: 460px;
    padding: 4em 2em 0;
    display: flex;
    justify-content: center;
    > div {
        height: inherit;
    }
}
#overlay {
    width: 70%;
}
#options {
    width: 30%;
}
.companies {
    position: absolute;
    svg {
        position: inherit;
        width: 60px;
        height: 20px;
        padding-right: 100px;
        font: 10px sans-serif;
    }
    circle {
        fill: brown;
        stroke: black;
        stroke-width: 1.5px;
    }
}