<!DOCTYPE html>

<html>

<head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='style/main.min.css'>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/bs-3.3.5/jq-2.1.4,dt-1.10.8/datatables.min.css">
</head>

<body>
    <div id='container'>
        <div id='overlay'></div>
        <div id='options'></div>
    </div>

    <!-- Blackrock scripts -->
    <script src="https://cdn.datatables.net/r/bs-3.3.5/jqc-1.11.3,dt-1.10.8/datatables.min.js"></script>
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <script src="https://www.blackrock.com/tools/api/js/hackathon"></script>
    
    <!-- Google Map API -->
    <script src='http://maps.googleapis.com/maps/api/js?sensor=false'></script>
    
    <!-- jQuery and d3 libraries -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src='https://d3js.org/d3.v4.min.js'></script>
    <script src='https://d3js.org/d3-scale-chromatic.v1.min.js'></script>
    
    <!-- custom scripts -->
    <script src='js/overlay.js'></script>
    <script src='js/fortuneMap.js'></script>
</body>
    
</html>